/*Alle Elemente*/
* {
  /* Wichtig für responsive*/
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

body {
  margin: 0;
}

/*
Alle Links sollen sein:

- Schwarze Schriftfarbe
- Grosse Buchstaben
- Fette Schrift
- Nicht mehr unterstrichen
*/

.nav-link {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/*
Entferne von der Liste:
- die Bulletpoints
- padding & margin
*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu {
  border: 0;
  background-color: transparent;
}

nav {
  display: none;
}

.show {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 1rem;
  padding-right: 1rem;
}
/*Alle Links on hover in Farbe #374a67 */
a:hover {
  color: #374a67;
}

#intro {
  background-image: url('img/intro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #fff;
  border: 2px solid #374a67;
  padding: 1rem;
  text-transform: uppercase;
  color: #374a67;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.45s ease;
}

.button:hover {
  background-color: #374a67;
  color: #fff;
  border-color: #fff;
}

#articles {
  text-align: center;
}

.card {
  /* 
  runde Ecken: 5px
  Schatten um die Card
  */
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  overflow: clip;
  padding-bottom: 0.5rem;
}

/*einfaches responsives Bild*/
.card img {
  width: 100%;
  display: block;
}

.blue {
  background-color: #374a67;
  color: #fff;
  display: block;
  margin: 1rem;
}

.blue:hover {
  background-color: #fff;
  color: #374a67;
  border-color: #374a67;
}

#newsletter {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #04122b;
  text-align: center;
  color: #fff;
}

#email {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #374a67;
}
/* 
form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/*Media Query / Breakpoints*/
@media (min-width: 1160px) {
  #menu {
    display: none;
  }

  nav {
    display: block;
  }

  ul {
    display: flex;
  }

  li {
    padding: 5px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .row {
    display: flex;
  }
}
